services:
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: iga-database
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: Hamisi2233.
    ports:
      - "5435:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 10
    restart: unless-stopped

  app:
    build:
      context: ./backend
    depends_on:
      db:
        condition: service_healthy
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/iga-database
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: Hamisi2233.
    # optional: do not expose publicly
    # ports:
    #   - "127.0.0.1:8080:8080"
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
    depends_on:
      app:
        condition: service_started
    environment:
      NEXT_PUBLIC_API_URL: /api
    ports:
      - "3000:3000"
    restart: unless-stopped

  nginx:
    image: nginx:alpine
    depends_on:
      - frontend
      - app
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    restart: unless-stopped

volumes:
  pgdata:
