name: Deploy Backend

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    env:
      IMAGE: ${{ secrets.DOCKER_USERNAME }}/iga-backend:latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Log in to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build backend image
        run: docker build -t ${{ env.IMAGE }} ./backend

      - name: Push backend image
        run: docker push ${{ env.IMAGE }}

      - name: Deploy to Server
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            set -e
            cd ~/app || mkdir -p ~/app && cd ~/app

            cat > backend.env <<EOF
  SPRING_DATASOURCE_URL=${{ secrets.SPRING_DATASOURCE_URL }}
  SPRING_DATASOURCE_USERNAME=${{ secrets.SPRING_DATASOURCE_USERNAME }}
  SPRING_DATASOURCE_PASSWORD=${{ secrets.SPRING_DATASOURCE_PASSWORD }}
  EOF
  
            docker rm -f iga-backend || true
            docker pull ${{ env.IMAGE }}
            
            docker run -d \
            --name iga-backend \
            --env-file backend.env \
            -p 8080:8080 \
            ${{ env.IMAGE }}
